.main {
  display: flex;
  margin: 0 1rem;
}

.title-div {
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

span {
  color: white !important;
}

hr {
  margin: 0.25rem 0;
}

.buttons-div {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.nav-div {
  display: flex;
  margin: 0 2rem;
  justify-content: space-between;
}

.nav-button {
  font-size: 1rem;
}
