<div class="main">
  <div class="title-div">
    <span>Digital Brain</span>
  </div>
  <div class="buttons-div">
    <button mat-raised-button color="primary">Test Button</button>
    <button mat-raised-button color="primary">Test Button</button>
    <button mat-raised-button color="primary">Test Button</button>
  </div>
</div>
<hr>
<div class="nav-div">
  <button mat-button color="primary" class="nav-button">Dashboard</button>
  <button mat-button color="primary" class="nav-button">Agent Builder</button>
  <button mat-button color="primary" class="nav-button">Knowledge Base</button>
  <button mat-button color="primary" class="nav-button">Boards</button>
  <button mat-button color="primary" class="nav-button">Insights & Analytics</button>
</div>
<hr>
