.main {
  display: flex;
  margin: 0 1rem;
}

.title-div {
  margin: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

span {
  color: white !important;
}

.buttons-div {
  display: flex;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}
